#main-ctnr .order-ctnr, #main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation .icon-bloc, #header-menu .header-ctnr a, #header-menu .header-ctnr {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .footer-ctnr .footer-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#header-menu {
  font-family: "Shrikhand", sans-serif;
  position: relative;
}
#header-menu .header-ctnr {
  height: 65px;
  max-width: 100%;
}
#header-menu .header-ctnr a i {
  font-size: 20px;
  position: absolute;
  left: 35px;
  /* bottom: 12px; */
  top: 50%;
  transform: translate(-50%, -50%);
}
#header-menu .header-ctnr .img-logo-ohmyfood {
  font-family: Shrikhand, "cursive";
  height: 30px;
  max-width: 100%;
}

.img-menu {
  width: 100%;
  height: 32vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#main-ctnr {
  position: relative;
}
#main-ctnr .title-heart {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: -25px;
}
#main-ctnr .title-heart h2 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  padding: 30px 16px;
  position: relative;
}
#main-ctnr .title-heart button {
  border: none;
}
#main-ctnr .title-heart button i {
  position: absolute;
  right: 35px;
  transform: translateY(-50%);
  font-size: 25px;
}
#main-ctnr .title-heart button .icon-solid {
  color: transparent;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
#main-ctnr .title-heart button:hover .icon-solid {
  opacity: 1;
  transform: translateY(-50%) scale(1.02);
}
#main-ctnr .menu-ctnr {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
  background-color: #f6f6f6;
  margin-bottom: -30px;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  font-weight: 400;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry h3::after {
  content: "";
  height: 4px;
  width: 42px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation {
  background-color: #fff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation .header-descript {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation .header-descript h4 {
  font-weight: bold;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation .header-descript p {
  margin: 0;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation .header-descript h4, #main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation .header-descript p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation .price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 8px;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation .icon-bloc {
  background-color: #99e2d0;
  height: 80px;
  width: 64px;
  margin: -16px -80px -16px 16px;
  transition-duration: 0.5s;
  border-radius: 0 14px 14px 0;
  position: relative;
  left: 15px;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation .icon-bloc .icon-confirmation {
  height: 25px;
  width: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation:hover .icon-bloc {
  margin-right: 0;
}
#main-ctnr .menu-ctnr .section-ctnr-menuEntry .descript-price-confirmation:hover i {
  -webkit-animation: icon-spin 0.5s ease-in-out;
          animation: icon-spin 0.5s ease-in-out;
}
#main-ctnr .order-ctnr {
  background-color: #f6f6f6;
  height: 110px;
}
#main-ctnr .order-ctnr .order-menu {
  width: 175px;
  background-color: #FF79DA;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  padding: 12px 20px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.8), rgba(255, 121, 218, 0.8));
  cursor: pointer;
  color: #fff;
  transition-duration: 0.3s;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.73);
}

#footer {
  background-color: #353535;
  height: 200px;
  width: 100%;
}
#footer .footer-ctnr {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#footer .footer-ctnr h2 {
  font-family: Shrikhand, "cursive";
  color: #fff;
  font-size: 17px;
}
#footer .footer-ctnr .footer-ul {
  list-style: none;
  line-height: 28px;
  padding-top: 10px;
  font-size: 14px;
}
#footer .footer-ctnr .footer-ul .footer-li {
  margin-top: 0;
}
#footer .footer-ctnr .footer-ul .footer-li .footer-link {
  text-decoration: none;
  color: #fff;
}
#footer .footer-ctnr .footer-ul .footer-li .footer-link .footer-icon {
  padding-right: 10px;
  font-size: 13px;
}/*# sourceMappingURL=menu1.css.map */